= render 'redcap_data_dictionaries/edit', redcap_project: @redcap_project, redcap_data_dictionary: @redcap_data_dictionary, redcap_variables: @redcap_variables
= render 'redcap_data_dictionaries/navigation', redcap_project: @redcap_project
= render 'redcap_variables/index', redcap_project: @redcap_project, redcap_data_dictionary: @redcap_data_dictionary, redcap_variables: @redcap_variables