/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "material_icons";
@import "select2.min";
@import "select2-materialize";
@import "redcap_projects";
@import "redcap_variables";

turbo-frame {
  display: contents;
}

/* DivTable.com */
.divTable{
  display: table;
  width: 100%;
//https://stackoverflow.com/questions/7175049/css-displaytable-not-displaying-the-border
  border-collapse: collapse;
}
.divTableRow {
	display: table-row;
  border-bottom:  1px solid rgba(0, 0, 0, 0.12);
}

.divTableHeading {
//  background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
//  border: 1px solid #999999;
  display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
//  background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

//Errors
p.error {
  color: #F44336;
  margin-top: 0;
}

//https://stackoverflow.com/questions/59215830/materializecss-elements-not-appearing-inside-a-tab
.tabs {
  overflow-x: visible;
  overflow-y: visible;
}

.collection .collection-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.nested-form {
  .add_item {
    margin-top: 1rem;
  }
}